.container
  h1.title Responsive Slider Timeline
  .timeline
    .swiper-container
      .swiper-wrapper
        - for (var i = 1; i <= 6; ++i) {
          .swiper-slide(style=`background-image: url(https://unsplash.it/1920/500?image=1${i}`, data-year=`201${i}`)
            .swiper-slide-content
              span.timeline-year 201#{i}
              h4.timeline-title Our nice super title
              p.timeline-text Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - }
      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination